html{
    margin: 0;
    padding: 0;
    background-color: black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
}
.text{
    display: flex;
    justify-content: space-around;
    margin: 1rem;
}
#sbox{
    display: grid;
    align-items: center;
}
.sbox-one{
    width: 90%;
    height: 80vh;
    min-height: 50vh;
    margin: 0px auto;
    background-color: #111111;
    box-shadow: 10px 10px 10px black;
    border-radius: 10px;
    border: 2px solid goldenrod;
    animation: bouncing 2s infinite ease-in-out;
    display: grid;
    grid-template-columns: repeat(21, 1fr);
    grid-template-rows: repeat(21, 1fr);
}
.snake{
   width: 30px;
   height: 30px;
   border-radius: 10px;
   border: 2px solid yellow;
   animation: snake 1s infinite;
   margin: 0.5rem;
}
.snake:nth-child(even){
    background-color: rgb(4, 255, 0);
}
.snake:nth-child(odd){
    background-color: black;
}
.food{
    width: 30px;
    height: 30px;
    border-radius: 10px;
    border: 5px solid rgb(255, 255, 255);
    background-color: rgb(0, 255, 42);
    animation: b 3s infinite;
}
@keyframes bouncing{
    0%{
        border: 5px solid rgb(255, 251, 0);
    }
    50%{
        border: 5px solid rgb(0, 255, 217);
        scale: (50%);
    }
    100%{
        border: 5px solid rgb(244, 36, 255);
        
    }
}
@keyframes snake {
    0%{
        border: 5px solid rgb(232, 232, 232);
    }
    100%{
        border: 5px solid rgb(255, 131, 131);
        
    }
}
@keyframes b{
  100%{
      transform: scale(50%);
  }
}